* {
    box-sizing: border-box;
}

:root {
    --main-color: #2E80CE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
    scroll-behavior: smooth;
}

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Common ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 44px;
    display: inline-block;
    min-width: 104px;
    height: var(--height);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: var(--height);
    text-align: center;
    color: #FFFFFF;
    background: #2E80CE;
    border-radius: 999px;
    border: none;
    display: inline-block;
    padding: 0 20px;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;

}

.buttons {
    margin-top: 38px;
    display: flex;
    column-gap: 18px;
}

.buttons .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    outline: none;
    color: #575f66;
    background: #fff;
    transition: 0.25s;

}

.buttons .control-btn:hover {
    color: #fff;
    border-color: #2e80ce;
    background: #2e80ce;
    cursor: pointer;
}

.buttons .control-next-icon {
    rotate: 180deg;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ Common ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */


/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Header ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.header {
    min-height: 100vh;
    background: #10375C;
    padding-top: 30px;
    padding-bottom: 110px;
}

.header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .navbar .navbar-list {
    display: flex;
}

.header-top .navbar .link {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #C9D2DA;
    padding: 4px 21px;
}

.header-top .navbar .link:hover,
.header-top .navbar .active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.header-top .navbar .active::before {
    content: "";
    position: relative;
    top: -2px;
    left: -8px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFFFFF;
}


.header-top .button .log-in {
    margin-right: 7px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #C9D2DA;
    padding: 4px 21px;
}

.header-top .button .log-in:hover {
    opacity: 0.8;
}

.header-hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-hero .title {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.header-hero .desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #C9D2DA;
}

.header-hero .contact {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.header-hero .contact .book-online {
    min-width: 205px;
    --height: 60px;
    border-radius: 30px;
}

.header-hero .contact .tel {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #FFFFFF;
}

.header-hero .pictures {
    display: flex;
    align-items: center;
}

.header-hero .image:first-child {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.header-hero .image:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
    object-fit: cover;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ Header ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */


/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Services ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.services {
    padding: 170px 0;
}

.services-top .heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.02em;
    color: #10375C;
}

.services-top .desc {
    width: 468px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #575F66;
    margin-left: auto;
    margin-right: auto;
}

.services-bottom {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-bottom .media img {
    object-fit: cover;
    width: 570px;
    height: 570px;
    border-radius: 12px;
}

.service-content {
    margin-bottom: 55px;
    margin-left: 130px;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item:hover .icon {
    background: #2e80ce;
    color: #fff;
    cursor: pointer;
}

.service-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item .body {
    margin-left: 20px;
}

.service-item .heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375C;
}

.service-item .desc {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575F66;
}

.service-content .services-btn {
    --height: 60px;
    margin-top: 55px;
    min-width: 205px;
    border-radius: 30px;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ Services ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */


/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ How it works ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.work {
    padding: 100px 0;
    background: #F7FBFF;
}

.work .work-top {
    width: 468px;
}

.work .work-top .heading {
    font-weight: 600;
    font-size: 5.0rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375C;
}

.work .work-top .desc {
    margin-top: 16px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575F66;
}

.work .work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.work .work-list .work-item {
    padding: 43px 42px;
    border-radius: 4px;
    border: 16px solid #EAF6FF;
    max-width: 338px;
}

.work .work-list .work-item:hover {
    padding: 45.23px 42px 43px 44.23px;
    border: 16px solid #2E80CE;
    transform: translateY(-16px);
}

.work-list .work-item .heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375C;
}

.work-list .work-item .desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575F66;
}

.work-list .work-item .learn-more {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2E80CE;
    display: inline-block;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ How it works ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */


/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Feature ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature .feature-inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature .feature-media {
    width: 48%;
}

.feature .feature-images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature .feature-img:first-child {
    width: 512px;
    height: 370px;
    object-fit: cover;
    filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.07));
    border-radius: 6px;
}

.feature .feature-img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature .feature-content {
    margin-left: 130px;
    margin-top: 82px;
}

.feature-content .heading {
    font-weight: 600;
    font-size: 5.0rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375C;
}

.feature-content .desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575F66;
    width: 468px;
}

.feature-content .feature-btn {
    --height: 60px;
    margin-top: 38px;
    min-width: 205px;
    font-weight: 400;
    font-size: 1.8rem;
    border-radius: 30px;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ Feature ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */


/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Members ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.members {
    padding: 85px 0;
    text-align: center;
}

.members-top {
    text-align: center;
}

.members-top .heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.02em;
    color: #10375C;
}

.members-top .members-btn {
    --height: 60px;
    margin-top: 38px;
    min-width: 205px;
    border-radius: 30px;
}

.members .members-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.members .members-item .picture {
    padding-top: 28px;
    width: 270px;
    height: 318px;
    background: #EAF6FF;
    border-radius: 6px;
    overflow: hidden;
}

.members .members-item .picture .avatar {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.members-item:hover .avatar {
    transform: scale(1.1);
}

.members-item .member-name {
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #10375C;
}

.members-item .title {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #575F66;
}

.member-buttons {
    justify-content: center;
}


/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ Members ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */


/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Install ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.install {
    padding: 180px 0 85px 0;
}

.install .install-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2E80CE;
    border-radius: 4px;
    padding: 0 70px;
}

.install .install-img {
    display: block;
    object-fit: cover;
    width: 284px;
    height: 522px;
    margin-top: -95px;

}

.install .install-content {
    max-width: 586px;
}

.install .title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    max-width: 489px;
}

.install .desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #FFFFFF;
    max-width: 586px;
}

.install .install-row {
    margin-top: 38px;
    display: flex;
    gap: 28px;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ Install ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */


/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ News & Events. ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.new {
    padding: 85px 0;
}

.new .new-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-left {
    flex-shrink: 0;
}

.new .new-left .title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375C;
    max-width: 470px;
}

.new .new-left .read-all {
    display: inline-block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    color: #10375C;
}

.new .new-left .new-buttons {
    margin-top: 28px;
}

.new .new-list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}

.new .new-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}

.new .new-item:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
}

.news-item:hover .new-item-thumb .img {
    transform: scale(1.1);
}

new-item:hover .new-content {
    border-color: #fff;
}

.new .new-item .new-item-thumb {
    height: 172px;
    overflow: hidden;
}

.new .new-item-thumb .img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.new .new-content {
    padding: 24px 24px 16px;
    border: 1px solid #e8ebee;
    border-top: none;
    border-radius: 0 0 12px 12px;
    background: #fff;
    transition: 0.25s;
}

.new-content .new-title a {
    margin-top: 18px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375C;
}

.new-content .new-desc {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575F66;
}

.new-content .new-item-more {
    display: inline-block;
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #10375C;
    line-height: 1.8;
}

.new-content .new-item-more:hover {
    color: #2e80ce;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ News & Events. ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Appointment ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.appointment {
    padding: 85px 0;
}

.appointment-content {
    background: #F7FBFF;
    padding: 100px 179px;
    text-align: center;
}

.appointment .appointment-title {
    font-weight: 600;
    font-size: 5.0rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.02em;
    color: #10375C;
    position: relative;
    padding-bottom: 20px;
}

.appointment .appointment-title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 136px;
    height: 2px;
    background: #2e80ce;
}

.appointment .appointment-desc {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    max-width: 617px;
    color: #575F66;
    margin: 18px auto 0;
}

.appointment .appointment-btn {
    --height: 60px;
    margin-top: 38px;
    min-width: 205px;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ Appointment ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Footer ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.footer {
    margin-top: 85px;
    background: #10375C;
}

.footer .content {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    gap: 78px;
    position: relative;
}

.footer .content::after {
    content: "";
    width: 1170px;
    height: 1px;
    background: #406181;
    display: block;
    position: absolute;
    bottom: -18px;
}

.footer .column-1 {
    width: 28.7%;
}

.footer .column-2,
.footer .column-3 {
    width: 14%;
}

.footer .column-4 {
    width: 28%;
}

.footer .footer-col1-desc {
    margin-top: 21px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #A9B3BB;
}

.footer .column-bot {
    margin-top: 28px;
}

.footer .footer-title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer .list li a {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #A9B3BB;
    margin-bottom: 10px;
}

.footer .list li:hover a {
    opacity: 0.8;
}

.footer .socials {
    display: flex;
    column-gap: 10px;
    margin-bottom: 28px;
}

.footer .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 50%;
    color: #2E80CE;
    transition: 0.25s;
}

.footer .socials a:hover {
    background: #2E80CE;
    cursor: pointer;
    color: #FFFFFF;
}

.footer .subscribe {
    margin-top: 28px;
}

.footer .footer-col4-desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #A9B3BB;
}

.footer .footer-form {
    display: flex;
    column-gap: 12px;
    margin-top: 10px;
}


.footer .footer-email {
    width: 212px;
    height: 46px;
    border: 1px solid #406181;
    border-radius: 4px;
    background: transparent;
    padding: 0 10px;
    outline: none;
}

.footer .footer-email::placeholder {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #9ca8b1;
}


.footer .footer-submit {
    margin-left: 12px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #FFFFFF;
    width: 108px;
    height: 46px;
    background: #2E80CE;
    border-radius: 4px;
}

.footer .copyright {
    margin-top: 57px;
    padding-bottom: 42px;
}

.footer .copyright-text {
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #aab3ba;
}


/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ Footer ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */